[Unit]
Description=Boson MeerKat Daemon
After=network-online.target

[Service]
Type=simple
RuntimeDirectory=boson-meerkat
RuntimeDirectoryMode=755
PIDFile=/var/run/boson-meerkat/boson-meerkat.pid
WorkingDirectory=/var/lib/boson-meerkat
ExecStart=/usr/bin/boson-launcher -c /etc/boson-meerkat/default.conf
User=boson-meerkat
Group=boson-meerkat
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
Restart=always
RestartSec=60s
TimeoutSec=300s

[Install]
WantedBy=multi-user.target

